{% extends "base.html" %}

{% block script %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://login.persona.org/include.js" type="text/javascript"></script>

<script type="text/javascript">
function openPopup(url) {
    var w = 700;
    var h = 500;
    var left = 100;
    var top = 100;
    var settings = 'height=' + h + ',width=' + w + ',left=' + left + ',top=' + top + ',resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=yes,directories=no,status=yes';
    url += "?next={% url 'login_popup_close' %}";
    window.open(url, name, settings)
}
</script>

{% endblock %}

{% block content %}
<article>
    <section>
        <h3>Access all SquareSensor features by signing in!<h3>
        <h2>Important:</h2>
        <p>1. By signing up through Instagram web site you will open an account on our site. It is completely free and safe.</p>
        <p>2. We can not access your Instagram account information. Sign up process is performed on Instagram web site. Your password is safe with them.</p>
        <p>3. After sigining up, please fill in your e-mail address. Your e-mail address will be used strictly for SquareSensor web site interaction.
        It will not be sold, borrowed or misused in any way.</p>
        <b>Login with instagram - click their logo and sign up:</b>
        <p><a href='{% url "socialauth_begin" "instagram" %}'><img src="{{STATIC_URL}}img/instgram_button.jpg"></img></a></p>        
    <section>    
</article>

{% endblock %}