{% extends "base.html" %}

{% block pagetitle %}- User Details @{{good_user.instagram_user_name}}
{% endblock %}

{% block content %}
    <article>
        <section>
            <div class="clearfix">
            {% if good_user.instagram_user_name_valid %}
	            <section>
	                <h2 class='textaligncenter'>@{{good_user.instagram_user_name}}</h2>
	                
	                <figure class='textaligncenter'>
	                    <a href='{{good_user.instagram_user_profile_page_URL}}' target='_blank'><img src='{{good_user.instagram_profile_picture_URL}}'></img></a>
	                    <figcaption>{{good_user.instagram_user_name}} profile picture</figcaption>
	                </figure>
	                
	                <div class='textaligncenter'>
		                <h3>Instagram data</h3>
		                <div class='gublockcontainer'>
			                <div class='gublockheader'>Followers</div>
			                <div class='gublock'>{{good_user.number_of_followers}}</div>
		                </div>
		                
		                <div class='gublockcontainer'>
			                <div class='gublockheader'>Followings</div>
			                <div class='gublock'>{{good_user.number_of_followings}}</div>
		                </div>
		                
		                <div class='gublockcontainer'>                
			                <div class='gublockheader'>Posts</div>
			                <div class='gublock'>{{good_user.number_of_media}}</div>
		                </div>
	                </div>
	            </section>
	            </div>
	            
	            {% if photos %}
	                <div class="clearfix">
		                <div class="textaligncenter">
		                <h3>Top Photos</h3>
		                    {% for photo in photos %}
		                    <div class='igthumbnailcontainer'>
		                        <div>
		                            <a href='{{ photo.instagram_link_URL }}' target='_blank'><img src='{{ photo.instagram_thumbnail_URL }}'></img></a>
		                        </div>
		                        <div class='iglikestxt'>
		                        Likes: {{ photo.instagram_likes }}
		                        </div>
		                    </div>
		                    {% endfor %} 
		                </div>
	                </div>
	            {% else %}
	                <p>No photos by @{{good_user.instagram_user_name}} in our database</p>
	            {% endif %}
	        </section>

        {% else %}
             <p>Instagram username @{{good_user.instagram_user_name}} is not valid.</p>
             <br><br><br><br><br><br><br><br><br><br>
        {% endif %}
        <footer>
            <h3>Support this Instagram Talent</h3>
            <p>Bu following, liking and commenting on this talented users photos, you are providing support.</p>
        </footer>
    </article>

    <aside>
        <div id="contact_errors">TESTX</div>
		<form action="" method="post" id="contact_form" accept-charset="utf-8">{% csrf_token %}
		  <table>
		  {{form}}
		  </table>
		  <p><input value="Send Message" id="send_msg" onclick="send_message();" type="button" /></p>
		</form>

    </aside>
    <aside>
        <h3>Support Talented Users of Instagram Web Site</h3>
        <p>Please spread the word!</p>
    </aside>
    <aside>
        <h3>This Talented Photographer is in these categories</h3>
        <p>Category1</p>
    </aside>
{% endblock %}                 