{% extends "base.html" %}

{% block content %}
    <article>
        <section>
            <div class="main wrapper clearfix">
            <section>
                <h2>@{{good_user.instagram_user_name}}</h2>
                <h2><a href='{{good_user.instagram_user_profile_page_URL}}' target='_blank'><img src='{{good_user.instagram_profile_picture_URL}}'></img></a></h2>
            </section>
            <section>
                <h3>Instagram data</h3>
                <p>Number of followers {{good_user.number_of_followers}}</p>
                <p>Number of followings {{good_user.number_of_followings}}</p>
                <p>Number of posts {{good_user.number_of_media}}</p>
            </section>
            </div>
        </section>
        <footer>
            <h3>Support this Instagram Talent</h3>
            <p>Bu following, liking and commenting on this talented users photos, you are providing support.</p>
        </footer>
    </article>

    <aside>
        <h3>Support Talented Users of Instagram Web Site</h3>
        <p>Please spread the word!</p>
    </aside>
    <aside>
        <h3>This Talented Photographer is in these categories</h3>
        <p>Category1</p>
    </aside>
{% endblock %}                 