{% extends "base.html" %}
{% block pagetitle %} - List of Instagram talents{% endblock %}

{% block content %}
    <article>
        <section>
            <h2>List of Instagram talents</h2>
{% if goodusers_list %}
    <ul>
        {% for gooduser in goodusers_list %}
        <li><a href='{% url 'goodusers:details' gooduser.instagram_user_name %}'>{{gooduser.instagram_user_name}}</a></li>
        {% endfor %}
    </ul>
{% else %}
<p>No Instagram Talents available in our database.</p>

{% endif %}
        </section>
            <h2>Photo Categories</h2>
            <p>Browse talented photographers by category</p>
{% if categories_list %}
    <ul>
        {% for category in categories_list %}
        <li><a href='{% url 'goodusers:users_in_category' category.slug %}'>{{category.title}}</a></li>
        {% endfor %}
    </ul>
{% else %}
<p>No Instagram Talents available in our database.</p>

{% endif %}        
        <section>
        
        </section>
        <footer>
            <h3>Know an Instagram talent?</h3>
            <p>Add your suggestions - let us know which Instagram users you find talented!</p>
        </footer>
    </article>

    <aside>
        <h3>Support Talented Users of Instagram Web Site</h3>
        <p>Please spread the word!</p>
    </aside>

{% endblock %}                  