{% extends "base.html" %}

{% block content %}
    <article>
        <section>
            <h2>Search for Instagram talents</h2>
            <p>SEARCH FORM</p>
        </section>
        <footer>
            <h3>Know an Instagram talent?</h3>
            <p>Add your suggestions - let us know which Instagram users you find talented!</p>
            {% if not request.user.is_authenticated %}
            <p>To enable this feature, please login using your Instagram account</p>
            {% endif %}
        </footer>
    </article>


    <aside>
        {% if request.user.is_authenticated %}
        <h3>Welcome @{{ request.user.username }}</h3>
        {% else %}
        <h3>Login</h3>
        <p><a href='{% url "socialauth_begin" "instagram" %}'>Login with Instagram</a></p>
        {% endif %}
    </aside>
    
    <aside>
        <h3>Support Talented Users of Instagram Web Site</h3>
        <p>Please spread the word!</p>
    </aside>
{% endblock %}             