{% extends "base.html" %}

{% block content %}
    <article>
        <section>
            <h2>Search for Instagram talents</h2>
            <p>SEARCH FORM</p>
        </section>
        <footer>
            <h3>Know an Instagram talent?</h3>
            <p>Add your suggestions - let us know which Instagram users you find talented!</p>
        </footer>
    </article>


    <aside>
        <h3>Login</h3>
        <p><a href='{% url "socialauth_begin" "instagram" %}'>Login with Instagram</a></p>
    </aside>
    
    <aside>
        <h3>Support Talented Users of Instagram Web Site</h3>
        <p>Please spread the word!</p>
    </aside>
{% endblock %}             