
.friendthumbcontainer {
    margin: 10px;
   
}

.fivethumbscontainersuper, .frienddatacontainer, .friends-table {
    margin: 5px;
    align: left; 
    border: 1px solid #000000;
    width: 335px;
    box-shadow: 0 5px 5px #B5ACA7; 
}

.friendthumb {
    margin: 5px;
    box-shadow: 0 5px 5px #B5ACA7;
}

.friendimagecontainer {
    margin: 5px;
    box-shadow: 0 5px 5px #B5ACA7;
    width: 150px;
}

.friendtextcontainer {
    margin: 10px;
}

.ratingcontainer {
    border: 1px solid #000000;

	background: #FFFFFF;
	margin-bottom: 5px;
}

.ratetext {
//    border: 1px solid #000000;
	padding: 10px;
	margin: 0px;



}

.fivestars {
//    border: 1px solid #000000;

    
	padding: 10px;
	margin: 0px;

}

.friendusername {
    text-align: center;
}