{% extends "base.html" %}

{% block javascript %}
{{ block.super }}
<script src="{{STATIC_URL}}js/emailsubmit.js"></script>
{% endblock javascript %}

{% block stylesheets %}
{{ block.super }}
    <link rel="stylesheet" href="{{STATIC_URL}}css/members.css">
{% endblock stylesheets %}

{% block pagetitle %}- Welcome @{{ user.username }}
{% endblock %}

{% block content %}
    <article>
        <section>
        <h2>Welcome @{{ user.username }}</h2>
        
        {% if not user.email %}

	        <div class='emailformcontainer' id='emailformcontainer'>
		        <p>Please enter your e-mail address</p>
		        <form action="" method="post" id="email_form" accept-charset="utf-8">
		            {% csrf_token %}
			        {{ emailform }}
		            <input class="submitemailbutton" value="Send" id="send_email" onclick="send_dashboard_email();" type="button" />
	            </form>
            </div>	 
            <div id="thankyoumessage"></div>      
        
        {% endif %}
        </section>
        
        <section>
        <div id='#membermenu'>
        <a href='{% url 'members:mybest' %}'  class='btn'>View my best photos</a>        
        <a href='#'  class='btn'>Configure my preferences</a>        
        <a href='#'  class='btn'>Browse my squaresensor feed</a>
        <a href='{% url 'goodusers:index' %}' class='btn'>Find talented Instagram photographers</a>
        <a href='{% url 'friends:index' %}'   class='btn'>Find my new Instagram friends</a>
        <a href='{% url 'followings:index' %}'   class='btn'>Suggest new Instagram talents</a>
        </div>
        </section>        
    </article>

{% endblock %}  