{% extends "base.html" %}

{% block javascript %}
{{ block.super }}
{% endblock javascript %}

{% block stylesheets %}
{{ block.super }}
    <link rel="stylesheet" href="{{STATIC_URL}}css/members.css">
    {% if request.flavour == 'mobile' %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/membersmobile.css">
    {% endif %}
{% endblock stylesheets %}

{% block pagetitle %}- @{{ user.username }}: My best photos 
{% endblock %}

{% block content %}
    <article>
        <section>
        <h2>@{{ user.username }} - My best photos</h2>
        {% if best_photos %}
            {% for photo in best_photos %}
                <div class='bestphotos' id='bestphotos_{{ photo.instagram_photo_id }}'>
                <img class='bestphotosimg' src='{{ photo.instagram_low_resolution_URL }}'></img>
                </div>
            {% endfor %}
           
        {% else %}
        <p>No photos available. Please click here to refresh your photos</p>
        {% endif %}
        
        </section>
    </article>
{% endblock content %}