{% extends "base.html" %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{{STATIC_URL}}css/friends.css">
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{{STATIC_URL}}js/friends.js"></script>
{% endblock %}

{% block pagetitle %} - Search for Instagram Friends{% endblock %}

{% block content %}
    <article>
        <section>
        
			<h2>List of potential new Instagram friends</h2>
			{% if friends_list %}
			<div class="introduction" id='introduction_text'>
			<p>This is a list of your potential new Instagram friends and their best photos. They have similar photographic interests as you have.</p>
			<p>Please be polite and supportive when interacting with people. Please do not spam with comments and likes.</p>
			<p>You will be allowed to interact with one photo per user.</p>
			</div>

                {% load endless %}
                {% paginate friends_list %}
			        {% for friend in friends_list %}
				        <div class="friends-table">
					        
					            <div class="frienddatacontainer">
						            <div id='#frienddatacontainer_{{ friend.id }}'></div>
						            <div class="friendimagecontainer"><img src="{{ friend.instagram_profile_picture_URL}}"></img></div>
						            <div class="friendtextcontainer"><a href='{% url 'friends:details' friend.instagram_user_name %}'>{{ friend.instagram_user_name }}</a></div>
					            </div>
                                    <div class="fivethumbscontainersuper">
						        	    <div class="fivethumbscontainer" id="fivethumbscontainer_{{ friend.id }}">
								        	{% if photos_dict %}
							                    {% for key, val in photos_dict.items %}
							                        {% if key == friend.id %}
								                        {% if val %}
								                            {% for photo in val %}
										                        <div class="friendthumbcontainer">		                            
										                            <img class="friendthumb" id="friendthumb_{{ photo.instagram_photo_id }}" 
										                             src="{{ photo.instagram_low_resolution_URL }}" 
										                             title="{{ photo.instagram_caption }}"
										                             onclick="friend_photo_selected('{{ photo.instagram_photo_id }}', '{{ key }}', '{{ STATIC_URL }}', '{{ photo.instagram_low_resolution_URL }}');"></img>
										                        </div>
									                        {% endfor %}
									                    {% else %}
									                    <p>No photos available for this user.</p>		                        
								                        {% endif %}
								                    {% endif %}
							                    {% endfor %}
						                    {% endif %}
				                        </div>
				                    </div>					           
					           
					           
							        <div id="rate_friend_{{ friend.instagram_user_id }}" class="ratingcontainer">
			                            <div class="ratetext">
			                            Rate on Squaresensor
			                            <br>@{{friend.instagram_user_name}}
			                            </div>
								        <div class="fivestars">FIVE STARS</div>
							        </div>
							        
	                    </div>
				        
			        {% endfor %}
                {% show_pages %}				        

			{% else %}
			<p>No potential Instagram friends suitable for you available in our database.</p>
			
			{% endif %}
        
        </section>
    </article>
{% endblock %}