{% extends "base.html" %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{{STATIC_URL}}css/friends-table.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/friends.css">
{% endblock %}
{% block pagetitle %} - Search for Instagram Friends{% endblock %}

{% block content %}
    <article>
        <section>
        
			<h2>List of potential new Instagram friends</h2>
			{% if friends_list %}
			<div class="introduction" id='introduction_text'>
			<p>This is a list of your potential new Instagram friends and their best photos. They have similar photographic interests as you have.</p>
			<p>Please be polite and supportive when interacting with them. Please do not spam them with comments and likes.</p>
			</div>


			        {% for friend in friends_list %}
				    <div class="friends-table">
				    <table id="friends-table" summary="Potential Instagram Friends">
				        <tbody>
				            <tr>
				                <td>Username</td>
				                <td>Interacted</td>
				                <td>Result</td>
				                <td>Follow</td>
				            </tr>
			            <tr>
				            <td><a href='{% url 'friends:details' friend.instagram_user_name %}'>{{ friend.instagram_user_name }}</a></td>
				            <td></td>
				            <td></td>
				            <td></td>
				        </tr>

			        <tr>
		        	<td colspan="4">
		        	<div class="fivethumbscontainer">
			        	{% if photos_dict %}
		                    {% for key, val in photos_dict.items %}
		                        {% if key == friend.id %}
			                        {% if val %}
			                            {% for photo in val %}
					                        <div class="friendthumbcontainer">		                            
					                            <img class="friendthumb" id="friendthumb_{{ photo.instagram_photo_id }}" src="{{ photo.instagram_thumbnail_URL }}" title="{{ photo.instagram_caption }}"></img>
					                        </div>
				                        {% endfor %}
				                    {% else %}
				                    <p>No photos available for this user.</p>		                        
			                        {% endif %}
			                    {% endif %}
		                    {% endfor %}

	                    {% endif %}
                    <div>
                    </td>
		            </tr>
		            <tr>
				        <td colspan="4">
				        <div id="rate_friend_{{ friend.instagram_user_id }}" class="ratingcontainer">
                            <div class="ratetext">
                            Rate on Squaresensor
                            <br>@{{friend.instagram_user_name}}
                            </div>
					        <div class="fivestars">FIVE STARS</div>
				        </div>
				        </td>
			        </tr>	
			        <tr>
				        <td colspan="4">
				        <p>Best photos by @{{friend.instagram_user_name}}. Click on the photo to interact.
				        </td>
			        </tr>				       
			        </tbody>
                </table>
                </div>				        
			        {% endfor %}

			{% else %}
			<p>No potential Instagram friends suitable for you available in our database.</p>
			
			{% endif %}
        
        </section>
    </article>
{% endblock %}